backtrader
yfinance
numpy
pandas
scikit-learn
scipy
matplotlib
python-dotenv
requests
html5lib
lxml
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
openpyxl
langgraph
langchain_google_genai
python-dotenv
edgartools